<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HelloCounterHTMLcss</title>
    <style>
        li{
            color:#00f;
        }

    </style>
</head>
<body>
    <ol>
        {% for i in range %}
            <li>Hello_{{i}}</li>

        {% endfor %}

    </ol>
    <br>
    <ul>
        {% for i in range %}
            <li>Hello_{{i}}</li>

        {% endfor %}

    </ul>

</body>
</html>    

{% comment %} ============================================================================================= {% endcomment %}
    <!-- <ul>
        {% for item in names %}
            <li>{{item}}</li>

        {% endfor %}

    </ul> -->

